node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env files and directories
.env
.env.*
!.env.example
!.env.test
env
.env
env/
env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Node modules
node_modules/